<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="SmartMatrix Global Technologies">
        <meta name="keywords" content="mobilitydevelopment, IT-consultancy, mobile development, android development, UI, UX, creative, business, html5, css3, css3 animation">
        <meta name="author" content="SmartMatrix Global Technologies">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smartmatrix Global Technologies</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets\gallery\smart.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  
</head>
<body>
 
    <nav class="nav ">

        <div class="container">
      
          <input id="nav-toggle" type="checkbox">
          <div class="logo"><button class="logobtn" (click)="scrollToHome()"  aria-label="Toggle Menu"><img class="logos"
                src="assets/gallery/logo.webp" alt="smartmatrix" width="90px" height="45px" loading="lazy"></button></div>
          <ul class="links">
            <li> <button class="navbtn" (click)="scrollToHome()" type="checkbox"> Home </button></li>
            <li> <button class="navbtn" (click)="scrollToWhatwedo()" type="checkbox"> What we do </button></li>
            <li> <button class="navbtn" (click)="scrollToWorks()" type="checkbox"> Work </button></li>
            <li> <button class="navbtn" (click)="scrollToContact()" type="checkbox"> Lets talk </button></li>
          </ul>
          <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </label>
        </div>
      
      </nav>
      
      <section class="header" id="home">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h1 class="headingz">Get Smart!<br> in innovations we believe</h1>
              </div>
              <div class="showcase">
      
      
                <div class="video">
                  <div>
                    <video #videoPlayer autoplay>
                      <source src="assets\Smartmatrix Global Technologies Pvt Ltd.MPEG4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </section>
      <section class="workwedo" id="whatwedo">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
      
              <h2>
                Who We Are
              </h2>
              <p class="para">
                Welcome to SmartMatrix Global Technologies Pvt Ltd, an innovative startup established in May 2020 with a focus
                on building innovative products. From the day of our establishment, we have been dedicated to delivering
                high-quality services to our clients. Our initial product launch in October 2020 was a huge success and we are
                proud to say that we have made a significant impact on the market.</p>
      
              <p class="para"> At SmartMatrix, we specialize in providing a range of services that include product design,
                software consultancy, development, responsive design, motion design, design system, development handover, and
                creating IT infrastructure. We strive to provide the best possible solutions to our clients, ensuring that
                their needs and requirements are met to the highest standards.</p>
      
              <p class="para"> Our team of experts is highly skilled and experienced in their respective fields, allowing us
                to deliver exceptional results for our clients. We take pride in our work and are committed to providing our
                clients with the best possible service.</p>
      
              <p class="para"> As an emerging startup, we are growing rapidly with our innovative ways, and we are proud to be
                one of the most promising emerging startups from India. At SmartMatrix, we believe that innovation is key to
                success and we are constantly exploring new ways to provide value to our clients.</p>
      
              <p class="para">If you are looking for innovative solutions for your business, SmartMatrix Global Technologies
                Pvt Ltd is here to help. Contact us today to learn more about our services and how we can help your business
                grow.</p>
      
      
      
            </div>
            <div class="col-lg-1">
      
            </div>
            <div class="col-lg-5 servicess">
              <h4>Services we do</h4>
              <p>
                - Product Design<br>
                - Consultancy<br>
                - Development<br>
                - Responsive Design<br>
                - Motion Design<br>
                - Design System<br>
                - Development Handover
              </p>
      
            </div>
      
          </div>
        </div>
      
      
      </section>
      <section class="canvas" id="works">
      
      
        <div class="container bc">
          <div class="row">
            <h2>The canvas of innovations</h2>
            <div class="col-lg-12 ">
              <div class="showbreakcard">
                <div class="row">
                  <div class="col-lg-5">
                    <h1>Get engaged with
                      trivia game</h1>
                    <p> The show break is a live trivia game application that engages users to unlimited entertainment and
                      earning possibilities. For the first time in India. we are introducing a trivia game in regional
                      languages.
                    </p>
                    <div>
                      <button class="knowmore"><a href="https://theshowbreak.com" target="_blank">know more</a></button>
                    </div>
      
      
                  </div>
      
      
      
                  <div class="col-lg-7 mobilegif">
                    <!-- <img class="static" src="assets\gallery\img1.webp" alt="smartmatrix"> -->
                    <img class="showbreakgif"
                      src="assets\showbreakgif.gif" alt="smartmatrix">
      
                    <div>
      
      
      
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
      
            <div class="col-lg-6 ">
              <div class="showbreakcard1">
                <h2>Nook and Corner</h2>
                <div>
                  <p> We provide House cleaning services and Utility cleaning services. We can provide quality cleaning
                    services for you. Our motto is to provide a high-quality cleaning service that is tailor- made to your
                    need and give you a stress-free life and a clean living environment
                  </p>
                </div>
                <div>
                  <!-- 
        <a class="knowmore" href="https://www.nookandcorner.org/">know more</a> -->
                </div>
      
      
                <div class="gif">
                  <!-- <img class="static1" src="assets\gallery\img2.webp" alt="smartmatrix"> -->
                  <img class="showbreakgif" src="assets\nandc.gif" alt="smartmatrix">
      
      
                </div>
      
              </div>
      
            </div>
            <div class="col-lg-6 ">
              <div class="showbreakcard2">
                <h2>SmartCom</h2>
                <p> Smartcom is a platform that offers subscription-based web applications and mobile applications.lt helps
                  startups and other business to step into E-com market.
                </p>
                <div class="gif">
      <!-- 
                  <img class="static1" src="assets\gallery\img3.webp" alt="smartmatrix"> -->
                  <img class="showbreakgif"
                    src="assets\smartcom.gif" alt="smartmatrix">
                </div>
      
              </div>
      
            </div>
          </div>
        </div>
        <div class="container" style="padding-bottom: 60px;padding-top: 50px;">
          <div class="row">
      
            <div class="col-lg-12 ">
              <div class="showbreakcard">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>SmartPR</h1>
                    <p> Smart PR helps to build and maintain a positive public image for a company or an organization. We
                      present your brands to million of people through our social media influencers.
                    </p>
                    <div class="gif">
                      <!-- <img class="static4" src="assets\gallery\img4.webp" alt="smartmatrix"> -->
                      
                      <img class="showbreakgif"
                        src="assets\smartpr1.gif" alt="smartmatrix">
                     
      
                    </div>
      
      
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      
      </section>
      
      
      
      <app-awards></app-awards>
      
      
      
      <section class="canvas1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="gallerytext">See Claw <br>
                Create atmosphere</h2>
            </div>
          </div>
        </div>
      
        <div class="">
    
        </div>
      
      </section>
      <section class="canvas2">
        <div class="container">
          <div class="row">
            <h2>See Claw <br>
              Create atmosphere</h2>
            <div class="col-lg-12">
            </div>
          </div>
        </div>
      
      </section>
      
      
      
      
      
      
      
      
      
      
      

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <section class="canvas" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 contacttext">
              <h1>They say the best way
                to predict the future
                is to create it.</h1>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <p>Tell us about your project</p>
            </div>
          </div>
        </div>
        <!-- MultiStep Form -->
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-offset-3">
              <form id="msform" [formGroup]="formData">
                <!-- progressbar -->
      
                <!-- fieldsets -->
                <!-- <fieldset>
                  <div class="formvalid">
                    <input type="text" name="fname" placeholder="Name" formControlName="firstname" />
                    <span
                      *ngIf="formData.controls['firstname'].invalid && (formData.controls['firstname'].dirty || formData.controls['firstname'].touched)"
                      class="alert">
                      <a *ngIf="formData.controls['firstname'].errors" class="validates">
                        *Please enter your name </a></span>
                  </div>
                  <div class="formvalid"> <input type="email" name="lname" placeholder="Email Address"
                      formControlName="email" />
                    <span
                      *ngIf="formData.controls['email'].invalid && (formData.controls['email'].dirty || formData.controls['email'].touched)"
                      class="alert">
                      <a *ngIf="formData.controls['email'].errors" class="validates">
                        *Please enter valid Email </a></span>
                  </div>
      
      
                </fieldset> -->
              </form>
            </div>
            <div class="col-lg-6 col-md-offset-3">
              <form id="msform" [formGroup]="formData">
                <!-- progressbar -->
      
                <!-- fieldsets -->
                <fieldset>
                  <div class="formvalid">
                    <input type="text" name="fname" placeholder="Organisation" formControlName="organisation" />
                    <span
                      class="alert">
                      <a  class="validates">
                        *Please enter your Organisation </a></span>
                  </div>
                  <div class="formvalid">
                    <input type="text" name="lname" placeholder="title" formControlName="title" />
                    <span
                      class="alert">
                      <a class="validates">
                        *Please enter your job title </a></span>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-lg-12">
              <div class="formvalid">
      
                <form id="msform" [formGroup]="formData">
      
                  <textarea class="form-control" rows="8" placeholder="message" name="message" required
                    formControlName="message"></textarea>
                  <span
                    class="alert">
                    <a class="validates">
                      *Please enter your message </a></span>
      
                  <button id="js-trigger-overlay" type="button" class="button" (click)="send()">Send</button>
                </form>
              </div>
      
            </div>
          </div>
        </div>
        <!-- /.MultiStep Form -->
      
      
      </section>
      
      <section class="address">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="office">
                <p>KinFra Hi-Tech Park<br>
                  Kalamasssery<br>
                  Ernakulam<br>
                  India - 683503<br>
                  8330 030 042</p>
              </div>
            </div>
            <div class="col-lg-6">
      
              <div class="map">
             
              </div>
      
      
            </div>
          </div>
        </div>
      </section>
      
      <section class="footer">
        <div class="container" style="margin-bottom: 10px;">
          <div class="row">
            <div class="col-lg-8 lets">
      
              <h1>
                <div>Lets <br></div>
                <div style="margin-top: -34px;">Work<br></div>
                <div class="container">
                  <div class="row" style="margin-top: -34px;">
                    <div class="col-lg-6">
                      <h1>Together</h1>
                    </div>
                    <div class="col-lg-6"></div>
                  </div>
      
                </div>
              </h1>
            </div>
            <div class="col-lg-4 smart">
              <h2 class="footertext">Get Smart! <br>
                in Innovation we believe. </h2>
            </div>
          </div>
        </div>
      
        <div class="container">
          <div class="row">
            <div class="col-lg-12 " style="  border-top: 1px solid #fff">
              <nav class="dropdownmenu">
                <ul>
                  <li><button (click)="scrollToHome()"
                      style="background-color: transparent;border:none;color: #fff;">Home</button></li>
                  <li><button (click)="scrollToWorks()"
                      style="background-color: transparent;border:none;color: #fff;">Work</button></li>
                  <li><button class="privacy" [routerLink]="['/privacypolicy']">Privacy-policy</button>
      
                  </li>
      
                </ul>
      
              </nav>
      
            </div>
          </div>
          <p style="color:#fff;font-size: 13px;text-align: center;">Copyright © 2022 SmartMatrix Global Technologies. <br>All
            rights reserved. Designed & developed by SmartMatrix Global Technologies</p>
        </div>
      
      
      </section>




</body>

</html>
